@{
    Layout = "~/Views/Shared/LayoutTrangChu.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12">
            <!-- google map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118727.0208469834!2d105.72108789616948!3d21.577357335838183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313526e41a2f48ff%3A0x9af085049fb0466f!2zVHAuIFRow6FpIE5ndXnDqm4sIFRow6FpIE5ndXnDqm4sIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1699656324336!5m2!1svi!2s" style="border:0; width:100%; height:400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <!-- /google map -->
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
            <h2 class="title-pr-tag">Contact Detail</h2>
        </div>
    </div>
</div>