@using Project.Models
@using X.PagedList.Mvc.Core;
@*khai bao kieu du lieu cua Model*@
@model X.PagedList.IPagedList<ItemNews>

@{
    //import file layout.cshtml vao day
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@functions {
    public MyDbContext db = new MyDbContext();
}



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="~/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
              
                <!-- Begin Page Content -->
                <div class="container" style="margin-top:30px">

                   
                    <div class="card shadow mb-4">
                        <div class="card-header py-3" style="padding:15px">

                            <a href="/Admin/News/Create" class="btn btn-success btn-icon-split">

                                <span class="text">Create</span>
                                <br />
                            </a>
                            <div class="m-0 font-weight-bold text-primary" style="padding:20px 10px">List News</div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                    <tr>
                                        <th style="width:100px;">Photo</th>
                                        <th>Name</th>
                                        <th style="width:70px;">Hot</th>
                                        <th style="width:150px;"></th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @if (!String.IsNullOrEmpty(item.Photo))
                                                {
                                                    <img src="~/Upload/News/@item.Photo" style="width:100px;">
                                                }
                                            </td>
                                            <td>@item.Name</td>
                                            <td style="text-align:center;">
                                                @if (item.Hot == 1)
                                                {
                                                    <span class="fa fa-check"></span>
                                                }
                                            </td>
                                            <td style="text-align:center; ">
                                                <a href="/Admin/News/Update/@item.Id">Edit</a>&nbsp;&nbsp;/&nbsp;
                                                <a href="/Admin/News/Delete/@item.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                                            </td>
                                        </tr>
                                    }





                                </table>
                                <style type="text/css">
                                    .pagination {
                                        padding: 0px;
                                        margin: 0px;
                                    }

                                        .pagination li {
                                            padding: 10px;
                                            border: 1px solid #e3e6f0;
                                            color: #858796;
                                        }

                                            .pagination li a {
                                                color: #858796;
                                            }

                                          /*   .pagination li:nth-child(1) {
                                                border-right: none;
                                            }

                                            .pagination li:nth-child(2) {
                                                border-right: none;
                                            }
 */
                                            .pagination li:hover {
                                                background-color: blue;
                                                color: white;
                                            }
                                </style>
                                @Html.PagedListPager(Model, page => Url.Action("Read", new { page = page, a= 1, b =2 }) )
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
          
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <!-- Bootstrap core JavaScript-->
    <script src="~/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Admin/js/demo/datatables-demo.js"></script>

</body>

</html>