@using Project.Models


@*khai bao kieu du lieu cua Model*@

@{
    Layout = "~/Views/Shared/LayoutTrangTrong.cshtml";
}



@functions {
    public MyDbContext db = new MyDbContext();
    //lay tat ca cac danh muc cha
    public List<ItemCategory> GetCategories()
    {
        List<ItemCategory> list_record = db.Categories.Where(item => item.ParentId == 0).OrderByDescending(item => item.Id).ToList();
        return list_record;
    }
    //lay cac danh muc con
    public List<ItemCategory> GetSubCategories(int CategoryId)
    {
        List<ItemCategory> list_record = db.Categories.Where(item => item.ParentId == CategoryId).OrderByDescending(item => item.Id).ToList();
        return list_record;
    }
    public string GetCategoryName(int _ProductId)
    {
        var record = (from category in db.Categories join category_product in db.CategoriesProducts on category.Id equals category_product.CategoryId join product in db.Products on category_product.ProductId equals product.Id where category_product.ProductId == _ProductId select new { category.Name }).FirstOrDefault();
        /*
        * select category => lấy tất cả các cột của table Categories
        * select new { category.Name}) => chỉ lấy cột Name của table Categories
        */
        if (record != null)
        {
            return record.Name;
        }
        return "";
    }
    //lấy số sao để hiển thị
    public int GetStar(int _ProductId, int _Star)
    {
        var record = db.Rating.Where(item => item.ProductId == _ProductId && item.Star == _Star).ToList();
        if (record != null)
        {
            return record.Count;
        }
        return 0;
    }
  
}
<div class="col-lg-8 col-12">
    <div class="filter-cate">
        <div class="row">


            <div class="wrap-shop-control col-lg-4 col-12">

                <h1 class="shop-title">@GetCategoryName(ViewBag.CategoryId)</h1>

                <div class="wrap-right">

                    <div class="sort-item orderby " style="height:20px">
                        <select style="height:40px; border:1px solid #ccc; border-radius:3px;margin-bottom:15px" id="orderby" onchange="location.href='/Products/Categories/@ViewBag.CategoryId?order='+document.getElementById('orderby').value;" class="use-chosen">
                            <option style="height:20px" value="">Default sorting</option>
                            <option @if (ViewBag.order == "name-asc")
                            {
                                <text>selected</text>
                            } value = "name-asc" > Sort by name a - z</option>
                            <option @if (ViewBag.order == "name-desc")
                            {
                                <text>selected</text>
                            } value="name-desc">Sort by name z-a</option>
                            <option @if (ViewBag.order == "price-asc")
                            {
                                <text>selected</text>
                            } value="price-asc">Sort by price: low to high</option>
                            <option @if (ViewBag.order == "price-desc")
                            {
                                <text>selected</text>
                            } value="price-desc">Sort by price: high to low</option>
                        </select>
                    </div>


                </div>

            </div><!--end wrap shop control-->





        </div>
    </div>
    <div class="list-cate">
        <div class="row">
            <!-- start -->
            @foreach (var item in Model)
            {
                <div class=" col-xl-4 col-lg-4 col-md-4 col-12">
                    <div class="single-product">

                        <div>
                            <div class="product-img">
                                <a href="/Products/Detail/@item.Id" title="@item.Name">
                                    <figure><img src="~/Upload/Products/@item.Photo" alt="@item.Name" width="100%"></figure>
                                </a>
                                <div class="content-hover-pr">
                                    <a title="Add to cart" href=""> Add to cart</a>
                                    <a href=""><i class="fa-regular fa-heart"></i></a>
                                    <a href=""> <i class="fa-regular fa-eye"></i></a>
                                   
                                </div>
                            </div>
                            <div class="product-content-text">
                                <h3><a href="" style="font-size:13px">@item.Name</a></h3>
                                <div class="product-price">
                                    <span>$@(item.Price - (item.Price * item.Discount) / 100)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--  -->
